/*--------------------*\
  General
\*--------------------*/

body {
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: $linkcolor;

  &:visited { color: $linkcolorvisited; }
  &:hover, &:focus { color: $linkcolorhover; }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}