// Header
// ------
.header {
  @extend %box-sizing;
  margin: 0 -20px;
  border-bottom: 1px solid lighten($neutralcolor, 10%);
  height: 250px;
  position: relative;

  .social {
    @extend %list-style-none;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 15%;
    text-align: center;

    li {
      display: inline-block;
      height: 16px;
      width: 16px;
      margin: 0 ($horizontal-gutter / 4);
    }

    a {
      text-indent: -999em;
      display: block;
      background-position-x: center;
    }
  }
}







// Footer
// ------
.footer {
  @extend %box-sizing;
  margin: 20px -20px;
  padding: 20px 0;
  color: $fadedtextcolor;
  border-top: 1px solid lighten($neutralcolor, 10%);

  a {
    color: $fadedtextcolor;
  }
}





// Executives
// ------
.executives { // list
  @extend %grid;
}

.executives__executive { // individual
  @extend %grid__item;
  @extend %bp3--one-third;
}

.executives__executive .artist-genres {
  @extend %hide-screen;
}



// Staff
// -----
.staff { // list
  @extend %grid;
}

.staff__staff-member { // individual
  @extend %grid__item;
  @extend %bp3--one-third;
  @extend %bp4--one-quarter;
}





// Artists
// ------
.artists { // list
  @extend %grid;
}

.artists__artist { // individual
  @extend %grid__item;
  @extend %bp2--one-half;
  @extend %bp3--one-third;
  @extend %bp5--one-quarter;
}





// Friends
// -------
.friends { // list
  @extend %grid;
}

.friends__friend { // individual
  @extend %grid__item;
  @extend %bp2--one-half;
  @extend %bp3--one-third;
  @extend %bp5--one-quarter;
}