/*--------------------*\
  Breakpoints
\*--------------------*/
$bp2: em(480px);
$bp3: em(600px);
$bp4: em(768px);
$bp5: em(992px);
$bp6: em(1382px);

/*--------------------*\
  Grid
\*--------------------*/
$gutter:                24px!default;

/*--------------------*\
  Nav options
\*--------------------*/
$navMenuWidth: 90%;
$transitionSpeed: .3s;


/*--------------------*\
  Colors
\*--------------------*/
$primarycolor 					: #d35400;
$secondarycolor 				: #f39c12;

$neutralcolor 					: #2c3e50;
$midneutralcolor 				: darken($neutralcolor,10%);
$darkneutralcolor 			: darken($neutralcolor,20%);

$lightneutralcolor 			: #7f8c8d;
$lighterneutralcolor 		: #95a5a6;
$lightestneutralcolor 	: #ecf0f1;

$black 							    : #000;
$white 							    : #fff;

$textcolor              : #fff;
$fadedtextcolor         : darken($textcolor, 50%);

$linkcolor 		    			: $primarycolor;
$linkcolorhover 				: $secondarycolor;
$linkcolorvisited   		: darken($linkcolorhover, 10%);

$alertcolor 					: rgb(218,79,73);
$errorcolor 					: rgb(176,20,0);
$infocolor 						: rgb(216,220,162);
$inversecolor 				: rgb(65,65,65);
$successcolor 				: rgb(188,212,222);
$warningcolor 				: $errorcolor;