// Artist-Specific
// ---------------
.artist-genres { // list
  @extend %list-style-none;
  @include font-size(14);
}

.artist-genres__genre { // individual
  display: inline-block;
  text-transform: lowercase;
  color: $fadedtextcolor;
  background-color: lighten($tagscolor, 20%);
  border: 1px solid $tagscolor;
  padding: 2px 5px;
  margin-bottom: $vertical-gutter / 4;
  border-radius: 5px;
  @include font-size(12);

}