/*--------------------*\
  navigation
\*--------------------*/
.nav {
  @extend %list-style-none;
}

.main-site-nav__item {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: transparent;
  @extend %transition;


  &:hover {
    border-bottom-width: 3px;
  }
}


/*--------------------*\
  Main Site Navigation
\*--------------------*/
.main-site-nav {
  padding: 23px 0;
  margin: 0 -20px;
  border-bottom: 1px solid lighten($neutralcolor, 10%);

  .main-site-nav__header {
    @extend %hide-screen;
  }

  .main-site-nav__list {
    @extend %list-style-none;
    text-align:  right;

    .main-site-nav__item {
      display: inline-block;
      margin: 0 $horizontal-gutter 0 0;

      a {
        display: block;

        &:last-of-type {
          padding-right: 0;
        }

        &.active {
        }
      }
    }
  }
}

/*--------------------*\
  Copyright Menu
\*--------------------*/
.copyright-menu {
  text-align: center;

  .copyright-menu__item {
    display: inline-block;

    a {
      @include font-size(12);
    }
  }
}