<footer class="footer" role="contentinfo">
  <p class="site-copyright">{% include fragment/html-copyright.html %}</p>

  <ul class="copyright-menu nav__list">
    <li class="copyright-menu__item nav__item"><a class="{% if page.title == "Tags" %}active{% endif %}" href="/tags">Tags</a></li><!--
 --><li class="copyright-menu__item nav__item"><a class="{% if page.title == "Privacy Policy" %}active{% endif %}" href="/privacy">Privacy Policy</a></li><!--
 --><li class="copyright-menu__item nav__item"><a class="{% if page.title == "Terms of Service" %}active{% endif %}" href="/terms">Terms of Service</a></li>
  </ul>
</footer>