<nav class="main-site-nav">
  <h2 class="main-site-nav__header nav__header">Navigation</h2>

  <ul class="main-site-nav__list nav__list">
    <li class="main-site-nav__item main-site-nav__item__home nav__item {% if page.title == "Home" %}active{% endif %} "><a href="/">Home</a></li><!--
 --><li class="main-site-nav__item main-site-nav__item__about nav__item {% if page.title == "About" %}active{% endif %}"><a href="/about">About</a></li><!--
 --><li class="main-site-nav__item main-site-nav__item__artists nav__item {% if page.title == "Artists" %}active{% endif %}"><a href="/artists">Artists</a></li><!--
 --><li class="main-site-nav__item main-site-nav__item__news nav__item {% if page.title == "News" %}active{% endif %}"><a href="/news">News</a></li>
  </ul>
</nav>