---
layout: default
body-class: artist-page
---

<h3>{{ page.title }}</h3>

{{ page.location }}

<ul class="artist-genres">
  {% for genre in page.genres %}
    <li class="artist-genres__genre">
      <a href="/tags/{{ genre }}">{{ genre }}</a>
    </li>
  {% endfor %}
</ul>

<ul>
  {% if page.facebook %}
  <li>
    <a href="http://facebook.com/{{ page.facebook }}">Facebook</a>
  </li>
  {% endif %}
  {% if page.twitter %}
  <li>
    <a href="http://twitter.com/{{ page.twitter }}">Twitter</a>
  </li>
  {% endif %}
</ul>

{{ content }}

{% if page.bandcamp %}
  {% include partials/artist.release.html %}
{% endif %}

{% if page.mixcloud %}
  {% include partials/artist.mixcloud.html %}
{% endif %}

{% if page.soundcloud %}
  {% include partials/artist.soundcloud.html %}
{% endif %}

{% include partials/artist.set.html %}
