---
layout: default
body-class: artist-page
---

<h3 class="artist__header">{{ page.title }}</h3>

<span class="artist__location location">{{ page.location }}</span>

{% include fragment/genres-artist_genres.html %}

<ul class="artist__social">
  {% if page.facebook %}
  <li>
    <a href="http://facebook.com/{{ page.facebook }}">Facebook</a>
  </li>
  {% endif %}
  {% if page.twitter %}
  <li>
    <a href="http://twitter.com/{{ page.twitter }}">Twitter</a>
  </li>
  {% endif %}
</ul>

{{ content }}

{% if page.bandcamp %}
  {% include partials/artist.release.html %}
{% endif %}

{% if page.mixcloud %}
  {% include partials/artist.mixcloud.html %}
{% endif %}

{% if page.soundcloud %}
  {% include partials/artist.soundcloud.html %}
{% endif %}

{% include partials/artist.set.html %}
