/*! ------------------------------------------------------------------------ !*\
    Created By: Gregory Daynes
    
    based on BEM/SMACSS principals
    
    mixins    some taken from Malarky/Rock Hammer, H5BP
    base      H5BP, Malarky/Rock Hammer, Around the Web
    normalize v2.1.2 | MIT License | git.io/normalize
    grids   https://github.com/csswizardry/csswizardry-grids
\*! ------------------------------------------------------------------------ !*/

/*--------------------*\
  Breakpoints
\*--------------------*/

/*--------------------*\
  Grid
\*--------------------*/

/*--------------------*\
  Nav options
\*--------------------*/

/*--------------------*\
  Colors
\*--------------------*/

.nav,
.main-site-nav .main-site-nav__list,
.artist-genres,
.executives,
.staff,
.artists,
.friends,
fieldset,
.name,
.site-logo h1,
.site-logo em,
.site-copyright {
  /*--------------------*\
    Malarky/Rock-Hammer
    
    zero out margin and padding
    
    @extend %zero
  \*--------------------*/
  margin: 0;
  padding: 0;
}

.nav,
.main-site-nav .main-site-nav__list,
.artist-genres {
  /*--------------------*\
    @extend %list-style-none
  \*--------------------*/
  list-style: none;
}

.executives__executive,
.staff__staff-member,
.artists__artist,
.friends__friend,
input[type="checkbox"],
input[type="radio"],
.header,
.footer {
  /*--------------------*\
    CSS3Please.com + Everyone
    
    @extend %box-sizing
  \*--------------------*/
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Chrome, IE 8+, Opera, Safari 5.1 */
}

.executives__executive .artist-genres,
.main-site-nav .main-site-nav__header {
  /*--------------------*\
    
    
    @extend %hide-screen
  \*--------------------*/
  overflow: hidden;
  height: 1px;
  width: 1px;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  border: 0;
  display: block;
}

.executives,
.staff,
.artists,
.friends {
  list-style: none;
  margin-left: -24px;
}

.executives__executive,
.staff__staff-member,
.artists__artist,
.friends__friend {
  display: inline-block;
  /* [1] */
  padding-left: 24px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
}

@media only screen and (min-width: 30em) {
  .artists__artist,
  .friends__friend {
    width: 50%;
  }
}

@media only screen and (min-width: 37.5em) {
  .executives__executive,
  .staff__staff-member,
  .artists__artist,
  .friends__friend {
    width: 33.333%;
  }
}

@media only screen and (min-width: 48em) {
  .staff__staff-member {
    width: 25%;
  }
}

@media only screen and (min-width: 62em) {
  .artists__artist,
  .friends__friend {
    width: 25%;
  }
}

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set <html> and <body> to inherit the height of the viewport */

html,
body {
  min-height: 100%;
}

/**
 * NOTE: Use `text-rendering` with caution - http://cbrac.co/SJt8p1
 * NOTE: Avoid the webkit anti-aliasing trap - http://cbrac.co/TAdhbH
 * 1. Force a vertical scrollbar - http://cbrac.co/163MspB
 * 2. Remove iOS text size adjust without disabling user zoom
 */

html {
  overflow-y: scroll;
  /* 1 */
  font-size: 62.5%;
  /* 10px */
  font-family: sans-serif;
  /* 1 */
  text-size-adjust: 100%;
  /* 2 */
}

/**
 * 1. Inherits percentage declared on above <html> as the root `font-size`
 * 2. Unitless `line-height`, which acts as a multiple of the root `font-size`
 */

body {
  margin: 0;
  /*--------------------*\
    rem for browsers with support
    px for ones without
    
    @include font-size(integer)
  \*--------------------*/
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* Change `background` for text selections when browser is unfocused */

::-moz-selection:window-inactive {
  background: #d0d0d0;
}

::selection:window-inactive {
  background: #d0d0d0;
}

/* Remove `background` on images when selected */

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

/* Define a mobile tap highlight color (iOS 1.1.1+) */

a:link {
  -webkit-tap-highlight-color: #b3d4fc;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 * 1. Remove border when inside `a` element in IE 8/9. 
 */

img {
  vertical-align: middle;
  width: 100%;
  border: 0;
  /* 1 */
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  resize: vertical;
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* Fluid-width <audio> elements */

audio {
  width: 100%;
}

/* Fluid-width media that maintain their aspect ratios */

img,
video {
  max-width: 100%;
  width: auto;
  height: auto !important;
}

abbr,
acronym,
dfn[title] {
  cursor: help;
}

abbr a {
  text-decoration: none;
}

acronym {
  text-transform: uppercase;
}

details {
  cursor: pointer;
}

/* Nested `list-style` types for ordered lists */

ol {
  list-style: decimal;
}

ol ol {
  list-style: upper-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: lower-alpha;
}

p,
table,
textarea,
td,
th {
  /*--------------------*\
    Malarky/Rock-Hammer
    how to go about splitting words to improve the layout of text when
    line-wrapping
    https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens
    
    @include css-hyphens( none | manual | auto)
  \*--------------------*/
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

/*--------------------*\
  General
\*--------------------*/

body {
  padding: 0 20px;
  background-color: #080b0e;
  color: #ecf0f1;
}

a {
  text-decoration: none;
  color: #d35400;
}

a:visited {
  color: #c87f0a;
}

a:hover,
a:focus {
  color: #f39c12;
}

.header {
  margin: 0 -20px;
}

.footer {
  margin: 20px -20px;
  padding: 20px 0;
}

.person-container {
  text-align: center;
}

.name {
  color: white;
}

.location {
  color: grey;
}

/*--------------------*\
  navigation
\*--------------------*/

/*--------------------*\
  Main Site Navigation
\*--------------------*/

.main-site-nav {
  padding: 20px;
  margin: 0 -20px;
  background-color: #1a242f;
  border-bottom: 1px solid #233140;
}

.main-site-nav .main-site-nav__list {
  text-align: right;
}

.main-site-nav .main-site-nav__list .main-site-nav__item {
  display: inline-block;
}

.main-site-nav .main-site-nav__list .main-site-nav__item a {
  color: #ecf0f1;
  padding: 0 20px;
}

.main-site-nav .main-site-nav__list .main-site-nav__item a:last-of-type {
  padding-right: 0;
}

.main-site-nav .main-site-nav__list .main-site-nav__item a.active {
  color: #7f8c8d;
}

/*--------------------*\
  Copyright Menu
\*--------------------*/

.copyright-menu {
  text-align: center;
}

.copyright-menu .copyright-menu__item {
  display: inline-block;
}

.copyright-menu .copyright-menu__item a {
  color: #1a242f;
  /*--------------------*\
        rem for browsers with support
        px for ones without
        
        @include font-size(integer)
      \*--------------------*/
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.6;
}

.artist-genres {
  /*--------------------*\
    rem for browsers with support
    px for ones without
    
    @include font-size(integer)
  \*--------------------*/
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.6;
}

.artist-genres__genre {
  display: inline-block;
  text-transform: lowercase;
  color: grey;
}

.artist-genres__genre:after {
  content: ' • ';
}

.artist-genres__genre:last-of-type:after {
  content: '';
}

/*--------------------*\
  site-logo
\*--------------------*/

.site-logo {
  height: 200px;
}

/**/

/*--------------------*\
  site-copyright
\*--------------------*/

.site-copyright {
  text-align: center;
  color: #1a242f;
  /*--------------------*\
    rem for browsers with support
    px for ones without
    
    @include font-size(integer)
  \*--------------------*/
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.6;
}

/*--------------------*\
  global  
\*--------------------*/

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

@page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*--------------------*\
  add box to screen displaying current breakpoint  
\*--------------------*/

body:after {
  content: 'no-bp';
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  /*--------------------*\
    Malarky/Rock-Hammer
    
    @include breakpoint(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
  \*--------------------*/
  /*--------------------*\
    Malarky/Rock-Hammer
    
    @include breakpoint(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
  \*--------------------*/
  /*--------------------*\
    Malarky/Rock-Hammer
    
    @include breakpoint(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
  \*--------------------*/
  /*--------------------*\
    Malarky/Rock-Hammer
    
    @include breakpoint(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
  \*--------------------*/
  /*--------------------*\
    Malarky/Rock-Hammer
    
    @include breakpoint(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
  \*--------------------*/
}

@media (min-width: 30em) {
  body:after {
    content: 'bp2';
  }
}

@media (min-width: 37.5em) {
  body:after {
    content: 'bp3';
  }
}

@media (min-width: 48em) {
  body:after {
    content: 'bp4';
  }
}

@media (min-width: 62em) {
  body:after {
    content: 'bp5';
  }
}

@media (min-width: 86.375em) {
  body:after {
    content: 'bp6';
  }
}